version: "3.9"

services:
  spring-boot-app:
    image: spring-boot-monitoring-app
    build:
      context: 
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
    networks:
      - monitoring
    environment:
      - JAVA_OPTS=-Dserver.port=8081

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus:/etc/prometheus
    ports:
      - "9090:9090"
    networks:
      - monitoring

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    networks:
      - monitoring
    depends_on:
      - prometheus

networks:
  monitoring:
    driver: bridge
